<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Storyboard</title>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- Font Awesome -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">		
		<!-- Google Font -->
		<link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
	</head>
	<body>
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<!-- Bootstrap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		{{{ body }}}
	</body>
</HTML>