<!-- Custom CSS -->
<link rel="stylesheet" href="/assets/css/index.css" type="text/css" />

<div class="container">

  <div class="row vertical-center">

    <div class="col-md-5 col-md-offset-2">
      <h1 class="blue">Storyboard</h1>
      <h2 class="orange">The telephone game of drawing. Create doodle masterpieces with your friends.</h2>
    </div>

    <div class="col-sm-3" id="wrapper">
      <h4><span class="fa fa-sign-in"></span> Login or Register with:</h4>

      <!-- show any messages that come back with authentication -->
      <div id="message"></div>

      <!-- LOGIN FORM -->
      <form id="credentials">

        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="username">
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        
        <label class="checkbox-inline">
          <input type="checkbox" name="remember" value="yes">Remember Me
        </label>

        <div class="group">
    			<button type="submit" class="btn btn-warning btn-lg" id="login">Login</button>
          <button type="submit" class="btn btn-warning btn-lg" id="signup">Signup</button>
        </div>

      </form>
    </div>

  </div>

</div>

<!-- Index JS -->
<script src="./assets/js/index.js"></script>