<div class="container">

  <div class="col-sm-6 col-sm-offset-3">

    <!-- show any messages that come back with authentication -->
    {{#if this.message}}
      <div class="alert alert-danger">{{this.message}}</div>
    {{/if}}

    <!-- SIGNUP FORM -->
    <form action="/signup" method="post" class="form-signin">
      <h2 class="form-signin-heading text-center">Sign up for Storyboard</h2>
      
      <label for="inputUsername" class="sr-only">Username</label>
      <input class="form-control" placeholder="Username" name="username" required autofocus>
      
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
      
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>

    <hr>

    <p class="text-center">Already have an account? <a href="/login">Login</a> or go <a href="/">home</a>.</p>

  </div>

</div>