#logout {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

#canvas-wrapper {
	position: relative;
}

#bk, #colors_sketch {
  position: absolute;
}

#colors_sketch {
	border: 1px solid black;
}

#tools {
	margin-bottom: 10px;
}

#tools a {
  border: 1px solid black;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 0 2px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: black;
  font-weight: bold;
}