/* Header */
#header {
  text-align: center;
}

h1 {
  font-size: 50px;
}

h2 {
  margin-bottom: 20px;
  background-color: #ffb300;
  border-color: #e6a100;
  border-radius: 5px;
  padding: 10px 15px;
  color: #fff;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/* Sidebar */

.nav-sidebar {
  position: absolute;
  width: 200px;
  padding-top: 4px;
  padding-left: 4px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.nav-sidebar a {
  color: #333;
  -webkit-transition: all 0.08s linear;
  -moz-transition: all 0.08s linear;
  -o-transition: all 0.08s linear;
  transition: all 0.08s linear;
  -webkit-border-radius: 4px 0 0 4px; 
  -moz-border-radius: 4px 0 0 4px; 
  border-radius: 4px 0 0 4px;  
}

.nav-sidebar .active a { 
  cursor: default;
  background-color: #ffb300;
  border-color: #e6a100;
  color: #fff; 
  text-shadow: 1px 1px 1px #666; 
}

.nav-sidebar .active a:hover {
  background-color: #ffb300;
  border-color: #e6a100;  
}

.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; 
}

.join-submit, .sketch {
  padding: 1px 6px;
}

.input-group, .alert {
  padding: 4px;
  text-align: center;
}

.alert {
  margin: 4px;
}

.badge {
  background-color: #555; 
}

/* Container */

/* Offsets the container by the width of the sidebar */
.wrapper {
  margin-left: 200px;
}

#sun {
  margin-top: 50px;
}

/* Speech bubble */

.triangle-border {
  position: relative;
  padding: 15px;
  border: 5px solid #1ca1da;
  color: #333;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.triangle-border:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #1ca1da transparent;
  display: block;
  width: 0;
}

.triangle-border:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 47px;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
  width: 0;
}



#logout {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

#canvas-wrapper {
	position: relative;
}

#bk, #colors_sketch {
  position: absolute;
}

#colors_sketch {
	border: 1px solid black;
}

#tools {
	margin-bottom: 10px;
}

#tools a {
  border: 1px solid black;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 0 2px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: black;
  font-weight: bold;
}

#caption {
  position: absolute;
  top: 650px;
}

.orange {
  color: #ffb300;
  font-family: 'Aclonica', sans-serif;
}